.reservation-form-container {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px #2d333f33;
  padding: 16px;
}

.make-a-reservation {
  display: block;
  border-bottom: .0625rem solid #d8d9db;
  color: #2d333f;
  padding: 0 0 0.75rem;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5rem;
}

.reservation-form{
  display: block;
  margin: 16px -16px 0;
}

.party-size-picker {
  display: block;
  height: 66.4px;
}

.party-size-label {
  margin-left: 16px;
  font-size: 13px;
  font-weight: 500;
  color: #2d333f;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  
  background: url(https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png) no-repeat;
  padding: 0px;
  margin: 0px;
} */

.party-size-select-holder {
  background: #fff;
  height: 3rem;
  position: relative;
  display: block;
  align-items: center;
}

.party-size-select {
  -webkit-appearance: none;
          appearance: none;
  bottom: 0px;
  cursor: pointer;
  font: inherit;
  height: 24px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 264px;
  margin-left: 16px;
  margin-top: 16px;
  border: none;
  font-size: 13px;
  font-weight: 300;
  color: #2d333f;
}

.party-size-span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  line-height: 1;
  position: absolute;
  right: 0;
  margin-top: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.party-size-select-div {
  font-size: 13px;
  font-weight: 300;
  padding: 0 .3125rem;
  color: #2d333f;
  display: flex;
  height: 100%;

}

.party-size-select-inner-div {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  padding: .1875rem;
}

.party-size-select-inner-div2 {
  flex: 1;
  margin-left: 4px;
  overflow: hidden;
  padding: 0 4px;
}

.hr-1 {
  margin: 0 16px 8px;
  background-color: #d8d9db;
  border: none;
  height: .0625rem;
}

.date-time-tags {
  display: flex;
  height: 16.09px;
  align-items: center;
}

.date-time-tags label {
  width: 50%;
  font-size: 13px;
  font-weight: 500;
  color: #2d333f;
  margin-left: 16px;
}

.date-time {
  display: flex;
}


.res-date {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 48px;
  display: flex;
}

.res-time {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 48px;
}

.date-span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  line-height: 1;
  position: absolute;
  right: 0;
  margin-top: 17px;
  margin-right: 9px;
  cursor: pointer;
}

.res-date input {
  border: none;
  font: inherit;
  margin-left: 16px; 
  margin-top: 21px;
  font-size: 13px;
  font-weight: 300;
  width: 129px;
  cursor: pointer;
  color: #2d333f;
}


.res-time input {
  border: none;
  font: inherit;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 18px;
  font-size: 13px;
  font-weight: 300;
  width: 80%;
  cursor: pointer;
}

.hr-hr {
  display: flex;
}

.hr-2 {
  background-color: #d8d9db;
  border: none;
  height: .0625rem;
  margin: 0 16px;
  width: 50%;
}

.hr-3 {
  background-color: #d8d9db;
  border: none;
  height: .0625rem;
  margin: 0 16px;
  width: 50%;
}

.find-time {
  border-radius: 4px;
  margin: 16px 16px 0;
  min-width: 9rem;
  overflow: hidden;
  height: 48px;
}

.reservation-input-submit-2 {
  background-color: #da3743;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.times-booked {
  color: #2d333f;
  margin: 16px 16px 0;
}

.times-booked-span {
  align-items: center;
  color: #2d333f;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.times-booked-span span {
  padding-right: 4px;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  line-height: 1;
}