.logged-in-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding-right: 52px;
    border-bottom: .0625rem solid #f1f2f4;
}

.logged-in-nav-bar .logo {
    margin-left: 16px;
}

