.search-section {
  display: block;
  max-width: 1600px;
  padding-bottom: 32px;
  padding-top: 32px;
  background-attachment: scroll;
  background: linear-gradient(
    .647turn, #1a0a47cc, #0d1b4599 .01%, #0d1b45cc 54.04%, #0d1b45 99.1%
  );
}

.search-section-inner {
  display: block;
  padding: 32px 16px;
  width: calc(100% - 32px);
  height: 120px;
  z-index: 1;
}

.search-section-prompt {
  font-size: 47px;
  font-weight: 600;
  line-height: 56px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
  text-size-adjust: 100%;
}

.search-section-subtext {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  height: 48px;
}

.restaurants-outer-container {
  background-color: #fff;
  padding-top: .0625rem;
  width: 100%;
  max-width: 1600px;
  /* padding-bottom: 50px; */
}

.restaurants-inner-container {
  box-sizing: border-box;
  margin: auto;
  max-width: 80rem;
  width: 100%;
}

@media (min-width: 768px) {
  .location-outer-banner {
   padding: 0 18px;
  }
}

.location-inner-banner {
  border-bottom: .0625rem solid #d8d9db;
  opacity: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  transition: opacity .5s 4s,height .5s 4.5s,padding-bottom .5s 4.5s,padding-top .5s 4.5s;
}

.location {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.location-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25rem;
  color: #2D333F;
  margin: 0 8px 0 0;
}

.current-location-text-logo {
  margin: 0;
  background: none;
  border-style: none;
  color: #da3743;
  display: flex;
  outline: none;
  padding: 0;
  text-align: start;
}

.current-location-logo-container {
  box-sizing: border-box;
  height: 1.5rem;
}

.current-location-logo {
  background-image: url(https://cdn.otstatic.com/cfe/12/images/ic_location_detection_red-3d558b.svg);
  height: 1.5rem;
  width: 1.5rem;
}

.current-location-text {
  align-self: center;
  margin: 0 0 0 4px;
}

.current-location-text div {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25rem;
  color: #da3743;
  margin: 0;
}

.restaurant-item-wrapper {
  padding-left: 18px;
  padding-right: 18px;
}

#restaurant-4,
#restaurant-9,
#restaurant-14 {
  margin-right: 0;
}

.restaurants-header {
  border-bottom: .0625rem solid #d8d9db;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 0 16px;
  margin-top: 48px;
}

.header-div {
  align-self: center;
  width: 100%;
}

.header-div h2 {
  color: #2d333f;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.75rem;
}


.restaurants-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}