.restaurant-wrapper {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 236px;
    height: 306px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.restaurant-item.no-margin-right {
    margin-right: 0;
}

.restaurant-wrapper:hover {
    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(-6px);
    box-shadow: 2px 2px 6px rgb(229, 228, 228);
    cursor: pointer;
}

.restaurant-img {
    width: 100%;
    height: 132px;
    opacity: 0.7;
    animation: restaurant-img-loading 1s linear infinite alternate;
    object-fit: cover;
}

@keyframes restaurant-img-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}

.restaurant-content {
    background-color: #fff;
    color: initial;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.restaurant-link {
    text-decoration: none;
}

.restaurant-content h3 {
    color: #2d333f;
    margin: 0 0 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stars-reviews {
    align-items: center;
    display: flex;
    margin: 0 0 4px;
}

.restaurant-card-stars {
    align-items: center;
    display: flex;
}

.review-count {
    color: #2d333f;
    margin: 0 0 0 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25rem;
}

.cuisine-price-location {
    color: #2d333f;
    margin: 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.25rem;
}


.name-price-neighbourhood:not(:first-child)::before {
    content: "\2022";
    margin-right: 4px;
    font-size: 16px;
}

.name-price-neighbourhood:not(:first-child) {
    margin-left: 4px;
}

.dark-gray-dollar {
    color: #2d333f;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25rem;
}

.light-gray-dollar {
    color: #0003;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25rem;
}

.times-booked-card {
    color: #2d333f;
}

.times-booked-card-inner {
    align-items: center;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.25rem;
}

.times-booked-card-inner span {
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 4px;
    line-height: 1;
}

.find-next-available {
    background-color: initial;
    border: .0625rem solid #da3743;
    border-radius: 4px;
    color: #da3743;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    padding: 4px 16px;
    height: 31px;
    width: 161.02px;
}

.find-next-available:hover {
    background-color: rgb(242, 238, 238)
}