/* styles.css */
.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 290px;
  height: 397px;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 10;
  display: none;
}

.search:focus-within .search-results {
  display: block;
}

.search-result {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.search-result:hover {
  background-color: #f0f0f0;
}

.highlight {
  background-color: yellow;
}