.date-time-party-search {
  -web-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.date-time-party-search * {
  box-sizing: border-box;
}

.main-page-date-time-party {
  display: flex;
  min-width: 30rem;
}

.main-page-date-time {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.main-page-date {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  min-width: 9.375rem;
  overflow: visible;
}

.main-page-date-inner {
  height: 3rem;
  position: relative;
}

.main-page-date-inner-2 {
  background: #0000;
  border-radius: 4px 0 0 4px;
  align-items: center;
  color: #2d333f;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  height: 100%;
  line-height: 24px;
  padding: .3125rem;
}

.main-page-date-inner-3 {
  width: 100%;
  height: 100%;
  padding: .1875rem;
  overflow: hidden;
}

.main-page-date-inner-4 {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
}

.main-page-date-inner-4 span {
  display: inline-block;
  height: 1.5rem;
  line-height: 1;
  min-width: 1.5rem;
  width: 1.5rem;
}

.main-page-time {
  background: #fff;
  border-left: .0625rem solid #00000014;
  border-right: .0625rem solid #00000014;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-page-time-inner {
  background: #fff;
  height: 3rem;
  position: relative;
}

.main-page-time-inner-2 {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0.3125rem;
}

.main-page-time-inner-3 {
  align-items: center;
  display: flex;
  flex: 1;
  font-weight: 400;
  height: 100%;
  padding: .1875rem;
}

.main-page-time-inner-3 span {
  display: inline-block;
  height: 1.5rem;
  line-height: 1;
  min-width: 1.5rem;
  width: 1.5rem;
}

.main-page-party {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-page-party-inner {
  background: #fff;
  height: 3rem;
  position: relative;
}

.filter-bar-button {
  display: flex;
  flex-direction: row;
}

.filter-bar {
  border-radius: 4px;
  flex: 1 1 auto;
  height: 3rem;
  margin: 0 16px;
  min-width: 18.125rem;
  position: relative;
  width: 100%;
  background: #fff;
}

.filter-bar-inner {
  height: 100%;
  position: relative;
}

.filter-bar-inner span {
  height: 1.5rem;
  width: 1.5rem;
  left: 0.625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.filter-bar-inner input {
  border: none;
  border-radius: 4px;
  color: #2d333f;
  height: 100%;
  outline: none;
  padding-left: 2.5rem;
  padding-right: 16px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
}

.filter-button {
  border-radius: 4px;
  min-width: 9rem;
  overflow: hidden;
}

.filter-button button {
  border-radius: inherit;
  background-color: #da3743;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  font-weight: 600;
  border: none;
  font-size: 15px;
  outline: none;
  line-height: 1.15;
  width: 100%;
}

.filter-button button:hover {
  background-color: #b82d36;
  transition: all .3s ease-out;
}

.filter-bar-results-container {
  background-color: #fff;
  border-bottom: .0625rem solid #f1f2f4;
  border-bottom-left-radius: .125rem;
  border-bottom-right-radius: .125rem;
  border-left: .0625rem solid #f1f2f4;
  border-right: .0625rem solid #f1f2f4;
  padding-top: 0.25rem;
  position: absolute;
  top: 2.75rem;
  width: 100%;
  z-index: 200;
}

.filter-bar-search-input:hover {
  cursor: pointer
}

.filter-bar-search-input-text {
  background-color: #da3743;
  color: #fff;
  word-wrap: break-word;
  padding: 8px 16px 8px 2.5rem;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5rem;
}

.filter-bar-locations-title,
.filter-bar-cuisine-title,
.filter-bar-restaurant-title {
  border-bottom: .0625rem solid #f1f2f4;
  border-top: .0625rem solid #f1f2f4;
  color: #6f737b;
  margin: 0;
  padding: 8px 16px 8px 2.5rem;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
}

.filter-bar-locations-title span,
.filter-bar-cuisine-title span,
.filter-bar-restaurant-title span {
  height: 1.5625rem;
  left: .625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.375rem;
  line-height: 1;
}

.filter-bar-neighborhood-results,
.filter-bar-cuisine-results,
.filter-bar-restaurant-results {
  word-wrap: break-word;
  color: #6f737b;
  cursor: pointer;
  padding: 8px 16px 8px 2.5rem;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5rem;
}

.filter-bar-neighborhood-results span, 
.filter-bar-cuisine-results span,
.filter-bar-restaurant-results span {
  word-wrap: break-word;
  color: #6f737b;
  cursor: pointer;
  text-align: left;
}

.filter-bar-neighborhood-results:hover, 
.filter-bar-cuisine-results:hover,
.filter-bar-restaurant-results:hover {
  background-color: #da3743;
  color: #fff;
}