.res-confirmation-main {
  display: block;
  outline: 0;
}

.res-confirmation-container {
  display: flex;
  justify-content: center;
}

.res-confirmation-inner {
  background: #f1f2f4;
  margin-bottom: 16px;
  height: 100%;
  width: 100%;
}

.res-confirmation-holders {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  margin: 32px auto 5rem;
  max-width: 61rem;
}
 
.res-confirmation-details {
  display: block;
  flex: 1 0 1%;
  min-width: 0;
}

.res-confirmation-details-inner {
  display: block;
  background-color: #fff;
  border: 0.0625rem solid #d8d9db;
  border-radius: 4px;
  overflow: hidden;
}

.confirmation-details-div {
  display: flex;
  margin: 32px 32px 0;
}

.res-confirmation-restaurant-pic {
  display: block;
  line-height: 0;
  margin-right: 16px;
}

.res-confirmation-restaurant-pic img {
  border-radius: 4px;
  width: auto;
  height: 7.75rem;
  width: 7.75rem;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.res-confirmation-deets {
  flex: 1;
  display: block;
}

.res-confirmed-and-name {
  display: flex;
  justify-content: space-between;
}

.res-name-and-confirmed {
  display: block;
  margin-right: 8px;
}

.res-name-and-confirmed h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  color: #2d333f;
}

.reservation-confirmed {
  display: flex;
  margin-top: 8px;
  height: 24px;
  align-items: center;
}

.reservation-confirmed span {
  margin-right: 8px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  width: 18px;
  align-items: center;
}


.reservation-confirmed h1 {
  font-size: 15px;
  font-weight: 400;
  color: #2d333f;
}

.res-confirmation-date-time-party {
  display: block;
}

.party-date-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.party-section {
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  color: #2d333f;
}

.party-section span {
  margin-right: 8px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  width: 18px;
  align-items: center;
}

.date-time-section {
  margin-top: 8px;
  display: flex;
  color: #2d333f;
  font-size: 15px;
}

.date-time-section span {
  margin-right: 8px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  width: 18px;
  align-items: center;
}

.cancel-modify-add {
  display: block;
  margin-top: 8px;
}

.curr-user-info {
  display: block;
  flex: 0 0 18.875rem;
  margin-left: 2.375rem;
}

.profile-header {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  color: #6f737b;
  margin-bottom: 16px;
  padding: 24px;
}

.curr-user-name {
  align-items: center;
  color: #2d333f;
  display: flex;
  height: 32px;
}

.curr-user-name span {
  margin-right: 12px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  width: 18px;
  align-items: center;
}

.curr-user-name h2 {
  font-size: 24px;
  font-weight: 400;
  color: #2d333f;
  font-weight: 400;
}

.curr-user-joined {
  margin-bottom: 16px;
  margin-left: 30px;
  margin-top: 4px;
  display: block;
  font-size: 15px;
  height: 24px;
}

.curr-user-location {
  margin-bottom: 4px;
  display: block;
  height: 24px;
  font-size: 15px;
}

.curr-user-location span {
  margin-right: 8px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  width: 18px;
  align-items: center;
  width: 23px;
  vertical-align: top;
}

.curr-user-reviews {
  margin-bottom: 4px;
  display: block;
  height: 24px;
  font-size: 15px;
  
}
.curr-user-reviews span {
  margin-right: 8px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  width: 18px;
  align-items: center;
  width: 23px;
  vertical-align: top;
}
