.dining-dashboard-main {
  outline: 0;
  display: block;
  color: #f1f2f4;
}

.dining-dashboard-header {
  background: #fff;
  border-bottom: .0625rem solid #d8d9db;
  width: 100%;
}

.dining-dashboard-header-inner {
  padding: 16px;
  margin: auto;
  max-width: 64rem;
}

.dining-dashboard-header-title {
  color: #2d333f;
  display: flex;
  font-size: 29px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
}

.dining-dashboard-header-inner p {
  color: #6f737b;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}

.dining-dashboard-content {
  flex-direction: row;
  margin: auto;
  max-width: 64rem;
  padding: 0 32px;
  width: 100%;
  display: flex;
}

.dining-dashboard-content nav {
  flex-shrink: 0;
  padding-top: 32px;
  width: 12.5rem;
  height: 100%;
}

.dining-dashboard-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dining-dashboard-ul li {
  padding: .75rem 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.dining-dashboard-right {
  color: #6f737b;
  text-decoration: none;
}