.page-one-header {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.75rem;
  color: #2d333f;
}

.page-one-subheader {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5rem;
  color: #2d333f;
}

.rating-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 8rem 16px 0;
  position: relative;
}

.which-rating {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 32px 0 0;
  text-align: left;
  width: 5rem;
  color: #2d333f;
}

.rating-text {
  display: block;
  font-size: 13px;
  font-weight: 300;
  left: 80%;
  top: 10%;
  line-height: 32px;
  margin: 0 0 0 48px;
  position: absolute;
  text-align: left;
  width: 76px;
  color: #2d333f;
}