.logged-out-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(216, 217, 219);
    height: 54px;
    padding-right: 52px;
}

.logged-out-nav-bar .logo {
    margin-left: 16px;
}

