.above-nav {
    align-items: center;
    background-color: #f1f2f4;
    border-bottom: 0.0625rem solid #f1f2f4;
    box-sizing: border-box;
    display: flex;
    height: 1.75rem;
    justify-content: flex-end;
    padding: 0 16px;
}

.above-nav-language {
    margin-left: 32px;
    color: rgb(45, 51, 63);
    font-size: .8125rem;
}

.above-nav-faqs {
    
    color: rgb(45, 51, 63);
    font-size: .8125rem;
    margin: 0px 8px;
}

.above-nav-mobile {
    margin-right: 20px;
    color: rgb(45, 51, 63);
    font-size: .8125rem;
    margin-left: 8px;
    margin-right: 8px;
}

.above-nav-for-businesses{
    margin-right: 18px;
    color: rgb(45, 51, 63);
    font-size: .8125rem;
    margin-left: 8px;
    margin-right: 8px;
}

.logged-out-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f2f4;
    height: 54px;
    padding-right: 52px;
}

.logged-out-nav-bar .logo {
    margin-left: 16px;
}

.logo {
    width: 162px;
}