.footer {
  background-color: #2d333f;
  border-top: .0625rem solid #0000001f;
  display: flex;
  justify-content: center;
}

.footer-container {
  box-sizing: border-box;
  max-width: 64rem;
  padding: 32px 32px 16px;
  width: 100%;
}

.footer-top {
  /* border-bottom: .0625rem solid #fff3; */
  padding-bottom: 16px;
}

.footer-top-inner {
  flex-direction: row;
  display: flex;
  margin-bottom: 32px;
}

.footer-top-category {
  width: 25%;
  padding-top: 16px;
}

.footer-category-title {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.footer-top-category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top-category ul li {
  color: #d8d9db;
  font-size: 13px;
  line-break: 24px;
  padding: 4px 0;
  font-weight: 300;
}

.other-work {
  display: flex;
  flex-direction: column;
}

.other-work a {
  align-items: center;
  background: #6f737b;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: space-between;
  list-style: 24px;
  margin-bottom: 32px;
  padding: 8px 0 8px 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.other-work-icon {
  margin-left: 4px;
  display: inline-block;
  height: 1.5rem;
  line-height: 1;
  min-width: 1.5rem;
  width: 1.5rem;
}

.lets-connect {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.lets-connect-links a {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 8px 8px 0;
  padding: 0;
}

.footer-stuff {
  display: inline;
  float: left;
  margin-right: 16px;
  margin-bottom: 8px;
  font-size: 13px;
  color: #d8d9db;
  font-weight: 300;
}

.copyright {
  color: #d8d9db;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
}

.copyright a {
  color: #da3743;
}