.restaurant-page-main-container {
    height: auto;
    padding-bottom: 1px;
    max-width: 100rem;
}

.restaurant-page-banner {
    display: flex;
    position: relative;
    line-height: 0;
}

.restaurant-page-banner-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.save-this-restaurant-button {
    box-sizing: border-box;
    transition: none;
    width: 235px;
    position: absolute;
    right: 32px;
    top: 32px;
    background-color: #fff;
    border: .0625rem solid #d8d9db;
    border-radius: 4px;
    height: 3rem;
    color: #2d333f;
}

.save-this-restaurant-button:hover {
    cursor: pointer;
    border: 2px solid red;
    background-color: rgb(235, 237, 240);
}

.save-restaurant-text-logo-container {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
}

.save-restaurant-text {
    margin-left: 8px;
    padding-top: 2px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: rgb(45, 51, 63);
}

.restaurant-page-info {
    display: flex;
    justify-content: center;
    margin-top: -51px;
    position: relative;
}

.restaurant-page-info-left {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 32px;
    display: block;
    padding: 0 16px calc(128px - .25rem);
    width: 40rem;
}

.restaurant-page-info-right {
    display: block;
    width: 320px;
}

.reservation-form-takeout-box {
    display: block;
    position: sticky;
    top: 0;
    /* z-index: 11; */
}

.tab-container {
    background-color: rgb(255, 255, 255);
    padding-top: 16px;
    position: sticky;
    top: -.0625rem;
    transition: all .15s ease-in-out;
    display: block;
    z-index: 2;
    text-size-adjust: 100%;
}

.tab-container-nav {
    display: block;
    position: relative;
    box-shadow: inset 0 -0.0625rem 0 0 #d8d9db;
}

.tab-container-nav div {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
    top: 0;
    background: linear-gradient(270deg,#fff 0,#fff0 3.125rem);
}

.nav-li-1 {
    display: inline-block;
    width: 57.7969px;
    margin-right: 32px;
    color: rgb(45, 51, 63);
    box-shadow: rgb(218, 55, 67);
    text-align: left;
    text-size-adjust: 100%;
    border-bottom: 2px solid rgb(218, 55, 67);
}

.nav-li {
    display: inline-block;
    margin-right: 32px;
    color: rgb(45, 51, 63);
    box-shadow: rgb(218, 55, 67);
    text-align: left;
    text-size-adjust: 100%;
}

.nav-button-1 {
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    padding: 0px;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(218, 55, 67);
    
}

.nav-button {
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    padding: 0px;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(115, 115, 123);
}


.restaurant-name {
    color: #2d333f;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 47px;
    font-weight: 600;
    line-height: 56px;
    text-size-adjust: 100%;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.general-info {
    align-items: center;
    grid-gap: 16px;
    column-count: 4;
    display: -ms-inline-grid;
    margin-top: 16px;
}

.restaurant-top-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 17px;
    
}

.top-tags {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #2d333f;
    line-height: 24px;
}

.lively-tag {
    line-height: 45px;
    width: 80px;
    margin-left: 9px;
    height: 50px;
    text-align: center;
    border-radius: 16px;
    font-weight: 500;
    border: 1px solid rgb(216, 217, 219);
    color: #2d333f;
    font-size: 14px;
}

.lively-tag:hover {
    cursor: pointer;
    border: 1px solid red;
}

.groups-tag {
    line-height: 23px;
    width: 100px;
    margin-left: 9px;
    height: 50px;
    text-align: center;
    border-radius: 16px;
    font-weight: 500;
    border: 1px solid rgb(216, 217, 219);
    color: #2d333f;
    font-size: 14px;
}

.groups-tag:hover {
    cursor: pointer;
    border: 1px solid red;
}

.gem-tag {
    line-height: 23px;
    width: 120px;
    margin-left: 9px;
    height: 50px;
    text-align: center;
    border-radius: 16px;
    font-weight: 500;
    border: 1px solid rgb(216, 217, 219);
    color: #2d333f;
    font-size: 14px;
}

.gem-tag:hover {
    cursor: pointer;
    border: 1px solid red;
}

.restaurant-description {
    display: block;
    margin-top: 32px;
}

.restaurant-description-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(45, 51, 63);
}

.reviews-section {
    margin-top: 48px;
}

.reviews-header {
    border-bottom: .0625rem solid #d8d9db;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.reviews-text-div {
    align-self: center;
    width: 100%;

}

.reviews-text {
    color: #2d333f;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-size-adjust: 100%;
}

.all-reviews-container {
    margin-top: 32px;
    padding: 0px;
}