.auth-modal {
  max-width: 28.75rem;
}

.login-form-container {
  max-height: 90vh;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* text-align: center; */
}


.close-auth-modal-button-span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  line-height: 1;
}

.login-form {
  background-color: #fff;
  min-height: 641.7px;
  padding-top: 72px;
  padding-left: 32px;
  padding-right: 32px;
  max-height: 720px;
  /* box-sizing: border-box; */
}

.welcome-back {
  margin: 0 0 4px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5rem;
  color: #2d333f;
}

.welcome-back-p {
  margin: 4px 0 32px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5rem;
  color: #2d333f;
}

.login-form-input-1 {
  padding-bottom: 16px;
}

.login-form-input-2 {
  padding-bottom: 16px;
}


.login-form-input {
  background: #fff;
  border: .0625rem solid #d8d9db;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2d333f;
  line-height: 24px;
}

.login-form-input:hover {
  border: .0625rem solid black;
}
.signin-input {
  border: none;
  box-sizing: border-box;
  line-height: 24px;
  min-height: 48px;
  padding: 12px 8px;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  border-radius: 4px;
}

.sign-in-form-button {
  background-color: #da3743;
  color: #fff;
  height: 3rem;
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  width: 100%;
}

.sign-in-form-button:hover {
  cursor: pointer;
  transition: all .3s ease-out;
  background-color: #c32b36;
}

.demo-signin-button {
  margin: .8125rem 0 0;
  width: 100%;
  background-color: initial;
  color: #da3743;
  border: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  padding: .75rem 16px;
}

.demo-signin-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sign-in-button {
  height: 35px;
  width: 76px;
  border-radius: 3px;
  font-size: 12.5px;
  font-weight: 100;
  color: #2d333f;
  background-color: initial;
  border: 0.0625rem solid #d8d9db;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

.sign-in-button:hover {
  cursor: pointer;
}

.login-form-errors {
  color: #931b23;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin: 4px 0 0 8px;
}

.invalid-input {
  background: #fff;
  border: .0625rem solid #931b23;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2d333f;
  line-height: 24px;
}